<div class="welcome" fxLayout="column" fxLayout.gt-lg="row" fxLayoutGap="10px" fxLayoutAlign="center center">
  <section>
    <h1>Lorem Ipsum</h1>
    <p>Lorem ipsum dapibus lectus tempor aliquam aptent eget, taciti platea dui tempor iaculis turpis, conubia urna imperdiet
      cursus bibendum vehicula.
    </p>
  </section>

  <section>
    <h1>Lorem Ipsum</h1>
    <p>Lorem ipsum dapibus lectus tempor aliquam aptent eget, taciti platea dui tempor iaculis turpis, conubia urna imperdiet
      cursus bibendum vehicula.
    </p>
  </section>

  <section>
    <h1>Lorem Ipsum</h1>
    <p>Lorem ipsum dapibus lectus tempor aliquam aptent eget, taciti platea dui tempor iaculis turpis, conubia urna imperdiet
      cursus bibendum vehicula.
    </p>
  </section>
</div>
